{% extends "header_admin.html" %} 
{% block title %}Update Payroll{% endblock %} 

{% block body %}  
<div class="container"><br><br>
  <div>
    <div class="col-md-12 text-center"><h2>Update Payroll</h2></div>
  </div>
    <form method="POST" action='/edit_payroll/{{payroll.pay_id}}' >
      <table class="table">
        <tr>
          <td>Month Name</td>
          <td><input type="text" name="pay_month" class="form-control" value="{{payroll.pay_month}}" required></td>
        </tr>
          <tr>
            <td>Paydate</td>
            <td><input type="date" name="pay_date" class="form-control" value="{{payroll.pay_month}}"required></td>
          </tr>
          <tr>
              <td>Amount</td>
              <td><input type="number" name="amount" class="form-control" value="{{payroll.amount}}"required></td>
            </tr>
          <tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="submit" value="submit" class="btn btn-warning">
          </td>
        </tr>
      </table>
        
    </form>
  </div>

{% endblock %}