{% extends "header_admin.html" %} 
{% block title %}Admin Dashboard{% endblock %} 
{% block body %}

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Admin Dashboard</h1>
                    <h3>Manage your Resources</h3>
                    <br>
                    <br>
                    <br>
                    <a href="/add_employee" id="db">Add Employee</a>
                    <br>
                    <br>
                    <br>
                    <a href="/add_department" id="db">Add Department</a>
                    <br>
                    <br>
                    <br>
                    <a href="/add_project" id="db">Add Project</a>
                    <br>
                    <br>
                    <br>
                    <a href="/add_payroll" id="db"> Add Payroll </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}