{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>HR Management System</h1>
                    <h3>Manage your employees with me!</h3>
                    </ul>
                    <br>
                    <br>
                    <a href="/register" id="in">New User? Let's Get Started!</a>
                    <br>
                    <br>
                    <br>
                    <a href="/login" id="in">User Login</a>
                    <br>
                    <br>
                    <br>
                    <a href="/admin_login" id="in">Administrator Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}